.app-content {
    overflow: hidden;
    height: 100%;
}
.auth-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 0.5rem;
  transition: opacity 0.2s;

  &:hover { opacity: 0.8; }
}

.login-btn {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
}

.register-btn {
  background-color: #333;
  color: white;
}

.logout-btn {
  background-color: #dc3545; /* Rouge */
  color: white;
}

.user-badge {
  margin-right: 1rem;
  font-weight: 500;
  color: #555;
}

.logo {
  font-size: 1.5rem;
}
.cart-icon-container {
    position: relative;
    cursor: pointer;
    // Pour que le badge n'interfère pas avec les boutons Auth si la place manque
    margin-right: 1.5rem; 
}

.cart-badge {
    position: absolute;
    top: -5px; // Ajuste la hauteur
    right: 15px; // Ajuste la position horizontale par rapport à l'icône
    border-radius: 50%;
    padding: 0.3rem 0.5rem;
    font-size: 0.75rem;
    background-color: #e74c3c; // Couleur rouge PrimeNG (danger)
    color: white;
    font-weight: bold;
    z-index: 10;
}